html,body,#root, .app-layout{
  height:100%;
}

.nav-link{
  font-weight:500;
}
.navbar-nav.navbar-center {
  position: absolute;
  left: 50%;
  transform: translatex(-50%);
}

.bg-dark hr{
  color: #ff5722;
}
.bg-light hr{
  color: black;
}

.bg-soft-gray{
  background-color: #303030 !important;
}